body {
    background-color: honeydew;
}

h1 {
    color: blue;
    text-align: center;
}

div p {
    color: blue;
}

p {
    color: blue;
}

div {
    background-color: bisque;
    margin: auto;
    padding: 20px 3px 50px 7px;
    width: 500px;
    border: 2px solid lightblue;
    border-radius: 10px;
    box-shadow: 1px 1px 3px black;
}
