body {
    background-color: honeydew;
}

nav {
    background-color: thistle;
    padding: 10px;
    box-shadow: 3px 3px 5px gray;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;    
}

nav a {
    background-color: indigo;
    color: white;
    padding: 10px;
    margin: 5px;
    text-decoration: none;

    display: inline-block;
    transition-duration: 300ms;
}

nav a:hover {
    background-color: violet;
    translate: 0 -3px;
}

h1 {
    margin-top: 100px;
    color: blue;
    text-align: center;
}

div p {
    color: blue;
}

p {
    color: blue;
}

div {
    background-color: bisque;
    margin: auto;
    padding: 20px 3px 50px 7px;
    width: 500px;
    border: 2px solid lightblue;
    border-radius: 10px;
    box-shadow: 1px 1px 3px black;
}
